<mat-card>
  <mat-card-header>
    <mat-card-title>Overview</mat-card-title>
    <!-- <mat-icon class="icon__push-pin">sell</mat-icon> -->
  </mat-card-header>
  <mat-card-content class="card-content overview__outer-card-content-container">
      <div class="col-4">
        <mat-card>
          <mat-card-content class="overview__inner-card-content-container">
            <div class="task-status-container">
                <p class="number-task-text">12</p>
                <p>Completed Task</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-4">
        <mat-card>
          <mat-card-content class="overview__inner-card-content-container">
            <div class="task-status-container">
                <p class="number-task-text">5</p>
                <p>In progress</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-4">
        <mat-card>
          <mat-card-content class="overview__inner-card-content-container">
            <div class="task-status-container">
                <p class="number-task-text">20</p>
                <p>Waiting Task</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

  </mat-card-content>
</mat-card>
